.partners__list {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    gap: 0.5em;
    color: #282C52;
    font-size: 1.2rem;
    margin-bottom: 4em;
}

.partners__title {
    margin-bottom: 1em;
}

.partner__item, .partner__item a:hover, .partner__item a:visited{
    position: relative;
    padding: 0.1em 0;
    font-weight: bold;
    color: #52A38A;
}
