.queryContainer {
    text-align: left;
    padding: 4em 4.5em;
    color: #282C52;
}

.queryContainer__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3em;

}

.queryBox__icon {
    width: 3em;
    position: absolute;
    top: -1.2em;
    right: -0.7em;
}

.inputGroup__input {
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    font-weight: bold;
}

.inputGroup__select {
    color: #282C52;
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 0.8em;
    font-weight: bold;
}

.inputGroup__labelCheckBox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inputGroup__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.inputGroup__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #C5D9D3;
}

.inputGroup__labelCheckBox:hover .inputGroup__checkbox ~ .inputGroup__checkmark {
    background-color: #ccc;
}

.inputGroup__checkbox:checked ~ .inputGroup__checkmark {
    background-color: #F47D20;
}

.inputGroup__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.inputGroup__checkbox:checked ~ .inputGroup__checkmark:after {
    display: block;
}

.inputGroup__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.queryBoxGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4.5em;
}

.queryBox {
    position: relative;
    background-color: #F1F8F6;
    text-align: center;
    padding: 2em 0;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.queryBox__title {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
}

.inputGroup {
    width: 250px;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.inputSubmitButtonGroup {
    margin-top: 2em;
}

.button {
    display: inline-block;
    padding: 0.8em 3em;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-color: #F47D20;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}